@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, a, img, form, input, textarea {margin:0; padding:0;}

img, textarea {border:none;}

a {text-decoration:none;}

.clear {clear:both;}

html {-webkit-text-size-adjust:none;}

body {background:url(images/background.jpg) repeat; font-family:"Corbel", Arial, Helvetica, sans-serif; font-size:15px; color:#423f41}

	@font-face {
        font-family: "LunchBox Slab";
        src: url('assets/645111084-Lunchbox_Slab.eot');
        src: url('assets/645111084-Lunchbox_Slab.eot?#iefix') format('embedded-opentype'),
        url('assets/645111084-Lunchbox_Slab.svg#LunchBox Slab') format('svg'),
        url('assets/645111084-Lunchbox_Slab.woff') format('woff'),
        url('assets/645111084-Lunchbox_Slab.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

	@font-face {
        font-family: "Corbel";
        src: url('assets/997894288-corbel.eot');
        src: url('assets/997894288-corbel.eot?#iefix') format('embedded-opentype'),
        url('assets/997894288-corbel.svg#Corbel') format('svg'),
        url('assets/997894288-corbel.woff') format('woff'),
        url('assets/997894288-corbel.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
	
	@font-face {
	font-family: 'Conv_Mathlete-Skinny';
	src: url('assets/Mathlete-Skinny.eot');
	src: local('☺'), url('assets/Mathlete-Skinny.woff') format('woff'), url('assets/Mathlete-Skinny.ttf') format('truetype'), url('assets/Mathlete-Skinny.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#wrapper {background:#fff; max-width:997px; width:95%; margin:0 auto;
-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .15);
-moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .15);
box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .15); 
}

#top {width:90%; padding:0 5%}

#top img {margin:10px 0 0 0; float:left; width:90%; max-width:270px;}

#top ul {float:right; margin-top:10px;}

#top ul li {list-style-type:none; font-family:'Conv_Mathlete-Skinny', Arial, Helvetica, sans-serif; font-size:27px; color:#fff; margin:4px 0 0 0}

#top ul li a {display:block; outline:0; width:154px; height:40px; background:url(images/nav-bg.png) no-repeat; color:#fff; text-align:center}

#top ul li a:hover {background:url(images/nav-bg.png) no-repeat 0 -40px;}

#top ul .current_page_item a {background:url(images/nav-bg.png) no-repeat 0 -40px;}

#header {padding:20px 0 0 0}  

#header img {width:100%; max-width:997px}

#content {width:93%; padding:0 2% 50px 5%}

#left {width:54%; margin:20px 0 0 0; float:left}

#left .meals {width:100%; max-width:421px}

#left h2 {font-family:"LunchBox Slab", Arial, Helvetica, sans-serif; color:#5b5b7a; font-size:30px; font-weight:100; padding:20px 0 0 0}

#left p {/*padding:20px 0 0 0;*/ line-height:21px}

#left .texture {width:100%; max-width:435px; height:auto !important}

#left .what-we-cook1 {width:100%; max-width:435px; margin:10px 0 0 0; height:auto !important}

#left .dishes  {float:left; margin:10px 1% 0 0; }

#left .wondering {max-width:435px; padding-bottom:20px; }

#left .weekly-meals {width:100%; max-width:421px; height:auto !important}

#left .press-praise1 {width:100%; max-width:434px; height:auto !important}

#left .special-request {margin:20px 0 0 0; width:100%; max-width:258px; height:auto !important}

#left .special-events1 {width:100%; max-width:434px; height:auto !important}

.events #left {width:47%; max-width:434px}

#planing .lets-start-planing {margin:20px 0 0 0; width:100%; max-width:260px}

#left .press-praise {width:100%; max-width:258px; height:auto !important}

#left input {width:60%; border:1px solid #cccccc; color:#423f41; font-size:13px; padding:0.3em 1%; margin:20px 0 0 0; font-family:"Corbel", Arial, Helvetica, sans-serif; float:left; clear:left}

#left textarea {width:90%; border:1px solid #cccccc; color:#423f41; font-size:13px; padding:0.3em 1%; margin:20px 0 0 0; font-family:"Corbel", Arial, Helvetica, sans-serif; float:left; clear:left; height:200px}

#left .sign-up2 { width:106px; height:32px; padding:0; border:0; float:right; clear:none; margin:20px 0 0 0; background:url(images/sign-up2.jpg) no-repeat; text-indent:-150px}

#left .wp-image-215 {width:100%; max-width:334px; height:auto !important}

#left h6 {font-family:"LunchBox Slab", Arial, Helvetica, sans-serif; font-size:33px; font-weight:100; color:#5e5e7d; padding:20px 0 0 0; line-height:50px}

#left .wp-image-221 {width:100%; max-width:451px; margin:20px 0 0 0}

#left .wp-image-234 {width:100%; max-width:391px; height:auto !important}

#left .wp-image-244 {width:100%; max-width:400px; height:auto !important}

.what-we-do#left h5 {font-size:36px; font-family:"LunchBox Slab", Arial, Helvetica, sans-serif; background:url(images/left-arrow.png) no-repeat left 10px; color:#5b5c7a; padding:0 0 0 70px; font-weight:100}

.what-we-do#left h6 {font-size:36px; font-family:"LunchBox Slab", Arial, Helvetica, sans-serif; background:url(images/left-arrow.png) no-repeat right 10px; color:#5b5c7a; padding:0 70px 0 0; display:inline; font-weight:100}

#right {width:36%; max-width:379px; float:right; background: url(images/right-top.jpg) repeat-x top left, url(images/right-bottom.jpg) repeat-x bottom left; background-color:#f4f4f5; margin:20px 0 0 0; padding:1px 2% 30px 2%}

#right img {margin:0 auto; display:block; width:100%; max-width:293px;}

#right img + img {max-width:349px}

#right p {color:#423f41; padding:10px 0 0 0; line-height:20px;} 

#right .eemail_textbox_class {float:left; width:65%; background:#f4f4f5; border:1px solid #c3c3c4; font-family:"Corbel", Arial, Helvetica, sans-serif; font-size:15px; padding:0.2em; margin:0 }

#right #eemail_txt_Button {float:left; margin:-10px 0 0 2%;/* letter-spacing:100px; text-indent:-50px; */background: url(images/sign-up1.jpg) no-repeat; border:0; width:100px; height:27px}

.emma-form-label {display:none}

.emma-form-label-required {display:none}

#right ul#emma-form-elements .emma-form-input {float:left !important; width:65%; background:#f4f4f5; border:1px solid #c3c3c4; font-family:"Corbel", Arial, Helvetica, sans-serif; font-size:15px; padding:0.2em; margin:0 2% 0 0; color:#000 }

#right ul#emma-form-elements #emma-form-submit {float:right; margin:-30px 0 0 0;/* letter-spacing:100px; text-indent:-50px; */background: url(images/sign-up1.jpg) no-repeat; border:0; width:100px; height:27px}

#right ul#emma-form-elements li.emma-form-row {width:100%}

#press .press-praise2 {width:100%; max-width:272px}

#press {width:36%; max-width:379px; float:right;  margin:20px 0 0 0; padding:1px 2% 30px 2%; text-align:center;}

#press p {color:#423f41; padding:20px 0 0 0; line-height:20px;}

#press .read-more1 {float:right; margin:20px 0 0 0}



#find {width:36%; max-width:379px; float:right;  margin:20px 0 0 0; padding:1px 2% 30px 2%; text-align:center;}

#find .wp-image-229 {width:100%; max-width:343px; height:auto !important}

#find .wp-image-230 {width:100%; max-width:341px; height:auto !important; margin:20px 0 0 0}

.give {width:100%; max-width:252px; height:auto !important; display:block; margin:0 auto 10px auto; }

.wp-image-243 {width:100%; max-width:252px; height:auto !important; display:block; margin:0 auto 10px auto; }

#find a {color:#423f41}

#press a {color:#423f41}

#find h3 {font-size:23px; line-height:32px; text-align:center; padding:20px 30px 0 30px; font-weight:100}

#press #wysiwyg_widgets_widget-14 p {text-align:left}


.events #right {width:48%; padding:0; max-width:431px; background:none; margin-top:120px }

.events #right img {width:100%; max-width:431px; border:3px solid #9495a7 !important}

#planing {overflow:hidden}

#planing p {padding:20px 0 0 0; line-height:21px}

#planing .wdform-label {display:none}

#planing input {width:98% !important; border:1px solid #cccccc; color:#423f41; font-size:13px; padding:0.3em 1%; margin:20px 0 0 0; font-family:"Corbel", Arial, Helvetica, sans-serif; float:left; clear:left; font-style:normal}

#planing textarea {width:98%; border:1px solid #cccccc; color:#423f41; font-size:13px; padding:0.3em 1%; margin:20px 0 0 0; font-family:"Corbel", Arial, Helvetica, sans-serif; float:left; clear:left;}

#planing .restrictions {height:80px}

#planing .else {height:350px;  }

#planing .send-info { background:url(images/send-info.jpg) no-repeat;width:155px !important; height:30px !important; padding:0; margin:0; border:0; letter-spacing:200px; text-indent:-50px}

#planing #ninja_forms_field_15_div_wrap {float:left; clear:none; width:15%; max-width:155px; margin:75px 0 0 1%; }

#planing .field-wrap, #ninja_forms_required_items {margin-bottom:0}

#planing .field-wrap {width:37% ; float:left; clear:left}

#planing #ninja_forms_field_14_div_wrap {clear:none; margin-left:3%; margin-top:-268px;}

#footer {width:100%; background:#dedee5; border-top:3px solid #fff; margin:40px 0 0 0 ;}

#footer-wrapper {width:95%; max-width:1100px; margin:0 auto}

.footer-box {width:28%; float:left; padding:30px 2%; color:#262425}

.footer-box img {width:90%; max-width:256px}

.footer-box + .footer-box {border-left:1px solid #fff; border-right:1px solid #fff; padding-bottom:100px}

.footer-box + .footer-box + .footer-box {border-left:0; border-right:0; width:31%; padding-bottom:0}

.footer-box .connect img {width:12%; max-width:42px; margin: 0 1%}

.footer-box .connect .connect-with-us {width:50%; max-width:189px; margin:0}

.connect1 {width:36%; max-width:379px; float:right; clear:right;  margin:20px 2% 0 0; padding:1px 0 30px 0;}

.connect1 img {width:12%; max-width:42px; margin: 0 1%; }

.connect1 .connect-with-us {width:50%; max-width:189px; margin:0}

.footer-box p {font-size:16px; padding:20px 0 0 0; line-height:24px;}

.footer-box .read-more {display:block; outline:0; text-indent:-9999px; width:133px; height:25px; background:url(images/read-more.jpg) no-repeat; float:right; margin:20px 0 0 0}

.footer-box .lets-talk {display:block; margin:20px 0 0 10%; width:80%; max-width:282px}

.footer-box h5 {font-weight:100; font-size:15px; text-align:right; padding:20px 0 0 0; line-height:20px}

.footer-box h5 a {color:#262425}

.footer-box h5 a:hover {color:#595959}

.footer-box1 {text-align:center}

.footer-box1 .tin-wings-market {width:100%; max-width:279px; margin:20px 0 0 0}

.footer-box1 .lets-talk2 {width:100%; max-width:162px; margin:25px 0 0 0}

.footer-box1 p {font-family:"LunchBox Slab", Arial, Helvetica, sans-serif; font-size:30px; color:#5b5c7b; line-height:35px; padding:15px 0 0 0}

.footer-box1 p + p {font-family:"Corbel", Arial, Helvetica, sans-serif; font-size:25px; line-height:25px}

#header #slideshow-wrappercustom {border:0}

#header #informationcustom {height:80px !important}

#header #slideshow-wrappercustom #informationcustom h3 {text-align:right; text-transform:uppercase; font-size:30px; padding:20px 3% 0 0; color:#000}

#header #slideshow-wrappercustom #informationcustom {background:rgba(102,102,102,0.29) !important}

#header .metaslider .caption-wrap {opacity:1 !important; background:rgba(102,102,102,0.29) !important }

#header .metaslider .caption-wrap {text-align:right; text-transform:uppercase; font-size:30px; padding:20px 2% 20px 0; width:98%; color:#666666; font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold}

#left .field-wrap, #ninja_forms_required_items {margin-bottom:0}

#content {overflow:hidden}

#left .wp-image-224 {float:left; margin:20px 20px 0 0; width:50%; max-width:264px; height:auto !important}

#left .looking {padding:20px 0 0 0; line-height:25px;}

#left .looking a {color:#423f41}


 

@media only screen and (min-width:0px) and (max-width:780px) {
#right .email {float:left; width:80%;}
}

@media only screen and (min-width:0px) and (max-width:580px) {
#left {float:none; width:100%}
#right {float:none; width:94%;max-width:auto; margin:20px auto 0 auto}
#press {float:none; width:94%;max-width:auto; margin:20px auto 0 auto}
#find {float:none; width:94%;max-width:auto; margin:20px auto 0 auto}
.connect1 {float:none; width:94%;max-width:auto; margin:20px auto 0 auto}
.events #left {width:100%; max-width:auto}
.events #right {width:94%;max-width:auto; margin-top:0}
#header .metaslider .caption-wrap {font-size:22px;  padding:15px 2% 15px 0;}
#right ul#emma-form-elements .emma-form-input {float:none !important;  }

#right ul#emma-form-elements #emma-form-submit {float:none; margin:10px 0 0 0;/* letter-spacing:100px; text-indent:-50px; */background: url(images/sign-up1.jpg) no-repeat; border:0; width:100px; height:27px}
}
@media only screen and (min-width:0px) and (max-width:980px) {
#right ul#emma-form-elements #emma-form-submit {float:none; margin:10px 0 0 0;/* letter-spacing:100px; text-indent:-50px; */background: url(images/sign-up1.jpg) no-repeat; border:0; width:100px; height:27px}
}

@media only screen and (min-width:0px) and (max-width:620px) {
#top {padding-top:20px}
#top img {float:none; display:block; margin:0 auto}
#top ul {float:none; display:block; margin:20px auto 0 auto; width:154px}
.footer-box {width:100%; padding:20px 0; float:none}
.footer-box + .footer-box {border-left:0; border-right:0; padding-bottom:10px}
.footer-box + .footer-box + .footer-box {border-left:0; border-right:0; width:100%}
#planing .field-wrap {width:100%; float:none}
#planing #ninja_forms_field_14_div_wrap {float:none; margin:0;}
#planing .send-info { width:100%; margin:20px 2% 0 0} 
.footer-box .connect img {margin: 0}
#header .metaslider .caption-wrap {font-size:18px;  padding:10px 2% 10px 0;}
}

.large#emma-form {width:100% !important}

@media only screen and (min-width:581px) and (max-width:980px) {
#find h3 {text-align:center; padding:20px 0 0 0; font-weight:100}
.footer-box1 p {font-size:25px;}
.footer-box1 p + p {font-size:20px;}
}

@media only screen and (min-width:581px) and (max-width:680px) {
#find h3 {font-size:16px; line-height:23px}
}


